@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .animation-delay-6000 {
    animation-delay: 6s;
  }
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px red solid; */
}

*:focus:not(:focus-visible) {
  outline:none;
  
}

*:focus-visible {
  outline: rgba(255, 255, 255, 0.203) solid 2px;
  outline-offset: -2px;
}


/* Form styling */
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #rgba(255,255,255,0.1) inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #171B4D;
}

body {
  overflow: overlay;
}

*::selection{
  color:white;
  background:#4200a431;
  /* background:#ffffff83; */
}
*::-moz-selection {
  color:white;
  background:#4200a431;
}

/* width */
::-webkit-scrollbar {
  /* position: relative; */
  width: 6px;
  height: 6px;
  /* background: url(../public/images/background2.svg); */
  background-color: transparent;
  /* right: 2vw; */
}

::-webkit-scrollbar-button {
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #4100A4;
  /* height: 20vh; */
  border-radius: 5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background-color: #fff; */
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}


/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
   --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
   dark colors
   invert logo's and images
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color:#171B4D;
}

span { 
  color:whitesmoke
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
